<div *ngIf="hero" style="margin-bottom: 16px" fxLayout.xs="column">
  <mat-card>
    <mat-card-header style="margin-bottom: 8px">
      <mat-card-title>{{ hero.name | uppercase }}</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput disabled [value]="hero.id" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hero name</mat-label>
        <input matInput [(ngModel)]="hero.name" placeholder="Name" />
      </mat-form-field>

      <mat-card-actions style="padding: 0">
        <button mat-raised-button (click)="goBack()">Go back</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
