<div>
  <mat-toolbar color="primary" fxLayoutAlign="space-between center">
    <span>{{ title }}</span>
    <span fxFlex></span>
    <button
      mat-icon-button
      aria-label="dashboard"
      routerLink="/dashboard"
      matTooltip="My dashboard"
    >
      <mat-icon>dashboard</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Heroes List"
      routerLink="/heroes"
      matTooltip="My Heroes"
    >
      <mat-icon>sports_martial_arts</mat-icon>
    </button>
  </mat-toolbar>
</div>
