<mat-accordion *ngIf="this.messageService.get().length">
  <mat-expansion-panel [hideToggle]="false" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Messages</mat-panel-title>
      <mat-panel-description>
        {{ this.messageService.get().length }} record(s)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let item of this.messageService.get()">
      {{ item }}
    </div>
    <mat-action-row>
      <button mat-raised-button color="warn" (click)="onAction()">
        Clear messages
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
